@import "../../scss/responsive";

.header {
  padding: 16px;

  a.logo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 80px;
      height: auto;
    }

    span {
      font-size: 1.6rem;
      color: #fff;
    }
  }
}
