@import "../scss/fonts";

:root {
  font-family: $generic, LeagueSpartan-Regular;
}

html {
  background: #3a3a3a;
}

html,
body,
#root,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }
}
